In [ ]:
import pandas as pd
import numpy as np
dataset=pd.read_csv('healthcare-dataset-stroke-data.csv', sep=",")
dataset.tail()

         id  gender   age  ...   bmi   smoking_status stroke
5105  18234  Female  80.0  ...   NaN     never smoked      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[5 rows x 12 columns]

In [ ]:
import pandas as pd

def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [ ]:
dataset.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
dataset['bmi'].fillna(dataset['bmi'].mean(), inplace=True)
dataset.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
dataset.replace([np.inf, -np.inf], np.nan)
dataset.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [ ]:
dataset['gender']=dataset['gender'].map({'Male': 1, 'Female': 0})
dataset['ever_married']=dataset['ever_married'].map({'Yes':1, 'No':0})
dataset['Residence_type']=dataset['Residence_type'].map({'Urban':1, 'Rural':0})
dataset.head()

      id  gender   age  ...        bmi   smoking_status  stroke
0   9046     1.0  67.0  ...  36.600000  formerly smoked       1
1  51676     0.0  61.0  ...  28.893237     never smoked       1
2  31112     1.0  80.0  ...  32.500000     never smoked       1
3  60182     0.0  49.0  ...  34.400000           smokes       1
4   1665     0.0  79.0  ...  24.000000     never smoked       1

[5 rows x 12 columns]

In [ ]:
dataset.drop(columns=['work_type'], inplace=True)
dataset.drop(columns=['smoking_status'], inplace=True)
dataset.tail()

         id  gender   age  ...  avg_glucose_level        bmi  stroke
5105  18234     0.0  80.0  ...              83.75  28.893237       0
5106  44873     0.0  81.0  ...             125.20  40.000000       0
5107  19723     0.0  35.0  ...              82.99  30.600000       0
5108  37544     1.0  51.0  ...             166.29  25.600000       0
5109  44679     0.0  44.0  ...              85.28  26.200000       0

[5 rows x 10 columns]

In [ ]:
dataset = clean_dataset(dataset)

In [ ]:
from sklearn.preprocessing import normalize
dataset.iloc[:,2:9]=normalize(dataset.iloc[:,2:9], axis=1)
dataset.astype({'bmi':'float64'})
dataset.astype({'avg_glucose_level':'float64'})
dataset.head()

        id  gender       age  ...  avg_glucose_level       bmi  stroke
0   9046.0     1.0  0.277889  ...           0.948516  0.151802     1.0
1  51676.0     0.0  0.286143  ...           0.948541  0.135534     1.0
2  31112.0     1.0  0.585373  ...           0.775034  0.237808     1.0
3  60182.0     0.0  0.270121  ...           0.943934  0.189636     1.0
4   1665.0     0.0  0.409944  ...           0.903538  0.124540     1.0

[5 rows x 10 columns]

In [ ]:
from sklearn.model_selection import train_test_split
cols = ['gender','age','hypertension','heart_disease','ever_married','Residence_type','avg_glucose_level','bmi']
X = dataset[cols]
y = dataset['stroke']      
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc =  StandardScaler()
X_train.iloc[:,2:9] = sc.fit_transform(X_train.iloc[:,2:9])
X_test.iloc[:,2:9] = sc.transform(X_test.iloc[:,2:9])
X_train.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

      gender       age  ...  avg_glucose_level       bmi
3726     1.0  0.024113  ...           0.593277  1.537093
2657     0.0  0.261645  ...           0.793395 -0.476289
4808     1.0  0.352396  ...           0.065860  0.995410
2036     1.0  0.045197  ...           1.312004 -1.446855
768      1.0  0.376178  ...          -0.121945  1.221499

[5 rows x 8 columns]

In [ ]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

0.8878016960208741

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtm=DecisionTreeClassifier(max_leaf_nodes=20,random_state=0)
dtm.fit(X_train, y_train)
print(dtm.score(X_test, y_test))

0.9412915851272016